
/************************************************************************
 * 파일명	: common.css
 * 설명	: 공통 CSS
 * 작성자	: ForEnd
 * 작성일	: 2016.12.27
************************************************************************/

@font-face {font-family:"HN_Rm"; src:url('/font/HelveticaR.eot'); src:local('☺'), url('/font/HelveticaR.eot?#iefix') format("embedded-opentype"), url('/font/HelveticaR.woff') format("woff"), url('/font/HelveticaR.ttf') format("truetype"); }

/* common */
*	{margin:0; padding:0;}
html	{height:100%;}
body	{overflow-y:scroll; *overflow-y:; color:#262626; font-size:12px; font-family:'HN_Rm', '맑은 고딕','AppleGothic','Arial','돋움','Dotum', sans-serif; line-height:24px; -webkit-text-size-adjust:none; word-spacing:0; letter-spacing:0}
body.hidden	{overflow:hidden}

a:link	{color:#404040; text-decoration:none}
a:visited	{color:#707070; text-decoration:none}
a:hover	{color:#737373; text-decoration:none}
a:active	{color:#404040; text-decoration:none}

img	{border:0 none;}
ol,	ul/*,	li*/	{list-style-type:none}
h1,	h2,	h3,	h4,	h5,	h6	{font-weight:normal}
hr	{border:0; border-top:1px solid #dedede}
table th	{font-weight:normal}

/* 정렬 */
.fl_left	{float:left}
.fl_right	{float:right}
.fl_clear	{clear:both; height:0; font-size:0; line-height:0}

.al_left	{text-align:left !important}
.al_center	{text-align:center}
.al_right	{text-align:right}
.al_top	{vertical-align:top}
.al_middle	{vertical-align:middle}
.al_bottom	{vertical-align:bottom}
.al_justify  {text-align:justify}

.hand	{cursor:pointer}
.overflow	{overflow:auto; overflow:hidden}
.none	{display:none !important}
.hide	{display:block; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; text-indent:-9999px;}
.pos_rel	{position:relative}

.clfix:after	{content: "."; display: block; height:0px; clear:both; visibility:hidden}
.clfix	{display: inline-block}
.clfix	{display: block}
* html	.clfix	{height:1%} /* Hides from IE-mac */
.clfix	{zoom:1} /*for IE 5.5-7*/

/* form */
fieldset	{border:0 none}
label	{}
input[type='text']	{height:21px; margin:0; padding:6px 9px 6px 9px; border:1px solid #e7e7e8; background:#fff; color:#4c4c4c; font-size:13px; line-height:21px; vertical-align:middle; font-family:'맑은 고딕','돋움','Dotum', sans-serif;}
input[type='text'],	input[type='password']	{-webkit-border-radius:0; -webkit-appearance:none}
input[type=submit], input[type=button]	{cursor:pointer}
::-webkit-input-placeholder	{color:#32343d}

input.txt	{height:24px; margin:0; padding:7px 9px 7px 9px; border:1px solid #999; background:#fff; color:#4c4c4c; font-size:13px; line-height:24px; vertical-align:middle}
input.txt:focus	{border-color:#000}
select	{margin:0; border:1px solid #999; line-height:22px; height:22px; color:#a6a6a6; font-weight:bold; font-family:'맑은 고딕','돋움','Dotum', sans-serif;}

.select {display:inline-block; position:relative; padding:0; height:38px; background:url('/images/common/bg_select_layer.gif') no-repeat right center; border: 1px solid #32343d;}
.select label {position:absolute; top:0px; right:34px; bottom:0; left:10px; color:#32343d; font-size:12px; text-align:left; line-height:38px; letter-spacing:1px;}
.select select {padding: 0 10px; width: 100%; height:38px; line-height:38px; vertical-align:top; opacity: 0; filter: alpha(opacity=0);}

.select.type2	{background-color:#fff}
.select.type2	select	{background-color:#fff}

input.chk {border:0 none; margin-right:2px; vertical-align:middle;}
input.chk.mlr	{margin:0 5px 0 16px}
.b_chk	{display:inline-block; width:13px; height:13px; margin-left:7px; background:#e6e6e6; cursor:pointer;}
.b_rdo	{display:inline-block; width:13px; height:13px; margin:2px 3px 0 4px; cursor:pointer;}
textarea	{padding:10px; border:1px solid #e7e7e8; background:#fff; color:#4c4c4c; font-size:12px; overflow-y:auto; resize:vertical; -webkit-appearance:none}
textarea:focus	{border-color:#000}

/* font */
.f_0	{font-size:0}
.f_12	{font-size:12px}

.f_normal	{font-weight:normal}
.f_strong	{font-weight:bold}
.f_italic	{font-style:italic}

.fc_defult	{color:#262626}
.fc_red	{color:#ff2300 !important}

/* space */
.mt0	{margin-top:0 !important}
.mt5	{margin-top:5px !important}
.mt10	{margin-top:10px !important}
.mt20	{margin-top:20px !important}

.mr5	{margin-right:5px !important}
.mr10	{margin-right:10px !important}

/* rollover */
a.rollover img    {display:inline;}
a.rollover img.over    {display:none;}
a.rollover img.on   {display:none;}
a.rollover:hover    {border:0; cursor:pointer}
a.rollover:hover img     {display:none;}
a.rollover:hover img.over   {display:inline;}
a.rollover:hover img.on     {display:none;}

/* layout */
.skip_nav a			{display:block; position:absolute; z-index:100; top:-1000em; left:0; padding:10px; background-color:#000; color:#fff; text-align:center}
.skip_nav a:focus	{position:relative; top:0; width:100%; height:auto; margin:0; padding:10px;}

#wrap	{position:relative; width:100%; min-width:950px; margin:0; border-top:2px solid #fdb813}
#wrap #container	{position:relative; margin:0 auto; margin-top:40px; width:100%;}
#wrap #container .content	{margin:0 auto; width:705px; padding-left:245px; min-height:600px}
#wrap #container .lnb	{position:absolute; top:6px; left:50%; margin-left:-475px; width:180px;}
#wrap #container .lnb ul	{border-top:1px solid #bcbdc0}
#wrap #container .lnb ul li	{border-bottom:1px solid #bcbdc0}
#wrap #container .lnb ul li a	{display:block; padding-left:10px; color:#32343d; font-size:13px; font-weight:bold; line-height:40px;}
#wrap #container .lnb ul li a:hover	{background:#f3f3f4 url('/admin/images/icon_lnb_arr.gif') no-repeat 160px center}
#wrap #container .lnb ul li.on a	{background:#fdb813 url('/images/common/icon_lnb_arr.gif') no-repeat 160px center}

#wrap .naver_talk {position:fixed; right:-15px; bottom:30px; z-index:999}
#wrap .naver_talk img {width:70%;}

/* Header */
#wrap #header	{position:relative;}
#wrap #header .top_util	{}
#wrap #header .top_util ul	{margin:0 auto; max-width:950px; height:45px; font-size:0; text-align:right}
#wrap #header .top_util ul li	{display:inline-block; position:relative; margin-top:10px; padding:0 15px}
#wrap #header .top_util ul li:after	{content:""; display:block; position:absolute; top:8px; left:0; width:1px; height:10px; background:#4d4d4e}
#wrap #header .top_util ul li:first-child:after	{display:none}
#wrap #header .top_util ul li a	{display:block; font-size:12px; line-height:24px;}
#wrap #header .top_util ul li.login	{padding-right:0}
#wrap #header .top_util ul li.login a	{padding:0 8px; border:1px solid #939598; font-size:11px; line-height:22px; border-radius:5px}

#wrap #header .util_menu	{position:relative; border-top:1px solid #939598;}
#wrap #header .util_menu .menu_wrap	{position:relative; margin:0 auto; max-width:950px; line-height:0; text-align:right}
#wrap #header .util_menu .menu_wrap h1	{position:absolute; top:32px; left:0}
#wrap #header .util_menu .menu_wrap h1 a	{display:block; width:207px; height:29px; background:url('/images/common/logo.png') no-repeat 0 0}
#wrap #header .util_menu .menu_wrap .util_list	{display:inline-block; padding:16px 0}
#wrap #header .util_menu .menu_wrap .util_list:after	{content:""; display:block; clear:both}
#wrap #header .util_menu .menu_wrap .util_list li		{float:left; width:83px; height:58px}
#wrap #header .util_menu .menu_wrap .util_list li a	{display:block; padding-top:34px; border-left:1px solid #939598; background:url('/images/common/icon_activity.png') no-repeat 0 0; color:#4d4d4e; font-size:12px; font-weight:bold; line-height:24px; text-align:center;}
#wrap #header .util_menu .menu_wrap .util_list li a:hover	{color:#fdc132; text-decoration:none}
#wrap #header .util_menu .menu_wrap .util_list li.u01 a	{background-position:0 0; border:0}
#wrap #header .util_menu .menu_wrap .util_list li.u02 a	{background-position:-82px 0}
#wrap #header .util_menu .menu_wrap .util_list li.u03 a	{background-position:-164px 0}
#wrap #header .util_menu .menu_wrap .util_list li.u01 a:hover	{background-position:0 -57px}
#wrap #header .util_menu .menu_wrap .util_list li.u02 a:hover	{background-position:-82px -57px}
#wrap #header .util_menu .menu_wrap .util_list li.u03 a:hover	{background-position:-164px -57px}

#wrap #header .util_menu .menu_wrap .util_list li.search	{width:220px; text-align:left}
#wrap #header .util_menu .menu_wrap .util_list li.search .search_wrap	{position:relative; margin:12px 0 0 18px; width:202px;}
#wrap #header .util_menu .menu_wrap .util_list li.search .search_wrap input	{position:relative; z-index:10; padding:0 5px 0 30px; width:165px; height:32px; border:1px solid #575758; background:#fff url('/images/common/bg_icon_search.png') no-repeat 0 0}
#wrap #header .util_menu .menu_wrap .util_list li.search .search_wrap .btn_search	{display:none; position:absolute; z-index:15; top:1px; right:1px; width:38px; height:32px; background:#fdb813; color:#32343d; font-size:12px; font-weight:bold; line-height:32px}
#wrap #header .util_menu .menu_wrap .util_list li.search .search_wrap.on input	{padding:0 40px 0 30px; width:128px; height:30px; border:2px solid #fdb813; background-position:-1px -33px}
#wrap #header .util_menu .menu_wrap .util_list li.search .search_wrap.on .btn_search	{display:block;}

#wrap #header .util_menu .menu_wrap .btn_menu	{display:none}
#wrap #header .util_menu .menu_wrap .menu_list	{display:none}

#wrap #header nav	{position:relative; background:#32343d}
#wrap #header nav .nav_wrap	{position:relative; z-index:10; margin:0 auto;max-width:950px;}
#wrap #header nav .nav_wrap ul:after	{content:""; display:block; clear:both}
#wrap #header nav .nav_wrap ul li	{position:relative; float:left; width:25%}
#wrap #header nav .nav_wrap ul li a	{display:block; position:relative; color:#fff; font-size:14px; font-weight:bold; line-height:45px; text-align:center;}
#wrap #header nav .nav_wrap ul li a:hover	{color:#fdb813; text-decoration:none}
#wrap #header nav .nav_wrap ul li a:after	{content:""; display:block; position:absolute; top:14px; left:0; width:1px; height:19px; background:#626367}
#wrap #header nav .nav_wrap ul li:first-child a:after	{display:none}
#wrap #header nav .nav_wrap ul li ul	{overflow:hidden; position:absolute; right:0; left:0; padding:0; height:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000); -moz-transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000); -o-transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition:all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
#wrap #header nav .nav_wrap ul li ul:after	{content:""; display:block; position:absolute; top:15px; bottom:18px; width:1px; background:#dba110}
#wrap #header nav .nav_wrap ul li:first-child ul:after	{display:none}
#wrap #header nav .nav_wrap ul li ul li	{float:none; width:100%}
#wrap #header nav .nav_wrap ul li ul li a	{color:#000; font-size:12px; font-weight:normal; line-height:22px}
#wrap #header nav .nav_wrap ul li ul li a:hover	{color:#000; font-weight:bold;}
#wrap #header nav .nav_wrap ul li ul li a:after	{display:none}

#wrap #header nav .nav_bg	{position:absolute; z-index:5; top:45px; right:0; left:0; height:0; background:#fdb813; -webkit-transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000); -moz-transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000); -o-transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition:all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
#wrap #header nav.on .nav_bg	{height:187px;}
#wrap #header nav.on  .nav_wrap ul li ul	{padding:15px 0 18px 0; height:187px;}

#wrap #header nav .dim	{display:none}


/* Footer */
#wrap #footer	{position:relative; margin-top:60px; width:100%; padding:45px 0; background:#32343d; color:#bcbdc0}
#wrap #footer .foot_wrap	{position:relative; margin:0 auto; max-width:950px}
#wrap #footer .foot_wrap .foot_logo	{display:block; position:absolute; top:6px; left:0; width:122px; height:17px; background:url('/images/common/logo_footer.png') no-repeat 0 0}
#wrap #footer .foot_wrap .foot_util		{padding-left:245px}
#wrap #footer .foot_wrap .foot_util ul:after	{content:""; display:block; clear:both}
#wrap #footer .foot_wrap .foot_util ul	li	{position:relative; float:left; padding:0 15px}
#wrap #footer .foot_wrap .foot_util ul	li:first-child	{padding-left:0}
#wrap #footer .foot_wrap .foot_util ul	li:after	{content:""; display:block; position:absolute; top:8px; left:0; width:1px; height:10px; background:#aaabaf}
#wrap #footer .foot_wrap .foot_util ul	li:first-child:after	{display:none}
#wrap #footer .foot_wrap .foot_util ul	li a	{display:block; color:#bcbdc0}
#wrap #footer .foot_wrap .foot_util ul	li a:hover	{text-decoration:underline}

#wrap #footer .foot_wrap .foot_info	{padding-left:245px}
#wrap #footer .foot_wrap .foot_info p	{margin-top:14px; font-size:10px; line-height:14px}


/* 컨텐츠 공통 */
.top_area	{padding-bottom:24px; background:url('/images/common/bg_top_area_dot.gif') repeat-x 0 bottom}
.top_area h2.t_tit	{font-size:18px; font-weight:bold; line-height:36px;}
.top_area .t_info	{color:#6d6e71; font-size:10px; font-weight:bold; line-height:16px; letter-spacing:1px}

.cont_info	{margin-top:16px; margin-bottom:30px; font-size:18px; font-weight:bold}
.cont_info span	{display:block; color:#6d6e71; font-size:18px; font-weight:bold; line-height:24px; letter-spacing:-0.5px}
.cont_info span em	{font-style:italic}

.location_wrap	{border-top:1px solid #f0f0f0}
.page_nav	{padding:15px 50px}
.page_nav li:first-child img	{vertical-align:top; margin:3px 0 0}
.page_nav li	{position:relative; float:left; padding-right:16px; margin-right:11px; font-size:14px; line-height:23px}
.page_nav li:after	{content:""; display:block; position:absolute; right:0; top:4px; width:6px; height:15px; background:url('/images/common/icon_activity.png') no-repeat right top; background-position:-102px 0}
.page_nav li.current_path	{color:#004098; padding-right:0; margin-right:0}
.page_nav li.current_path:after	{background:none}

.pc		{display:block !important;}
.mo	{display:none !important;}


/* Layer popup */
.layer_pop	{position:fixed; z-index:100; top:0; right:0; left:0; min-width:950px; background:#fdb813}
.layer_pop .t_txt	{background:#32343d; color:#fff; font-size:16px; line-height:60px; text-align:center}
.layer_pop .btn_closed		{position:absolute; top:0; left:50%; margin-left:465px; width:60px; height:60px; background:url('/images/common/bg_layer_closed.png') no-repeat 0 0}
.layer_pop .layer_content	{margin:0 auto; max-width:950px; padding-bottom:30px}

.layer_dim	{position:fixed; z-index:99; top:0; right:0; left:0; background:rgba(0, 0, 0, 0.7); opacity:0; -webkit-transition:opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000); -moz-transition:opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000); -o-transition:opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition:all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
.layer_dim.on	{bottom:0; opacity:1}

.layer_pop .login	{width:320px; margin:0 auto; padding-top:60px}
.layer_pop .login .logo	{margin:0; text-align:center; line-height:0}
.layer_pop .login dl	{overflow:hidden; margin-top:33px}
.layer_pop .login dl:after	{content:""; display:block; clear:both}
.layer_pop .login dl dt	{float:left; margin-top:15px; width:65px; font-size:14px; font-weight:bold; line-height:40px; letter-spacing:-1px}
.layer_pop .login dl dd	{float:left; margin-top:15px; width:255px; font-size:14px; font-weight:bold; line-height:40px}

.layer_pop .login .btn_wrap	{margin-top:30px; margin-left:65px;}
.layer_pop .login .btn_wrap button	{display:inline-block; width:255px; height:45px; background:#32343d; color:#fdb813; font-size:16px; font-weight:bold; line-height:45px}
.layer_pop .login .btn_wrap button:disabled	{background:#d09a0f}
.layer_pop .login .btn_wrap .btn_cancel	{float:right; background:#fff; color:#ff2222}

.layer_pop .login p	{margin-left:65px}
.layer_pop .login .t_info	{margin-top:35px; line-height:18px; text-align:center}
.layer_pop .login .tel		{margin-top:12px; }
.layer_pop .login .tel span	{display:block; margin:0 auto; width:234px; border:1px solid #3e3c3b; color:#32343d; font-size:15px; font-weight:bold; line-height:26px; text-align:center; border-radius:5px}

.layer_pop input	{padding:4px 10px; height:30px; border:1px solid #32343d; background:#fdb813; line-height:34px; vertical-align:top}
.layer_pop input:focus	{padding:2px 8px; border:3px solid #32343d; background:#fff}

.layer_pop .fl_wrap	{}
.layer_pop .fl_wrap:after	{content:""; display:block; clear:both}
.layer_pop .fl_wrap .fl_left		{width:445px}
.layer_pop .fl_wrap .fl_right	{width:445px}

.layer_pop .fl_wrap	{margin-top:23px}
.layer_pop .fl_wrap .table_wrap	{margin:0; border:0;}
.layer_pop .fl_wrap .table_wrap table tbody tr th	{padding:7px 0 7px 5px; border:0; background:none; line-height:40px; vertical-align:top}
.layer_pop .fl_wrap .table_wrap table tbody tr th .imp	{display:inline-block; margin-left:3px; color:#ff0000; line-height:37px; vertical-align:top}
.layer_pop .fl_wrap .table_wrap table tbody tr td	{padding:7px 0; border:0}
.layer_pop .fl_wrap .table_wrap table tbody tr td .mail_wrap	{font-size:0}
.layer_pop .fl_wrap .table_wrap table tbody tr td .mail_wrap .fmr	{display:inline-block; margin:0 4px; font-size:12px; line-height:40px; vertical-align:top;}
.layer_pop .fl_wrap .table_wrap table tbody tr td textarea	{padding:10px; border:1px solid #32343d; background:#fdb813; font-size:12px}
.layer_pop .fl_wrap .table_wrap table tbody tr td textarea:focus	{background:#fff}

.layer_pop .fl_wrap .table_wrap table tbody tr td .address_wrap	{position:relative;}
.layer_pop .fl_wrap .table_wrap table tbody tr td .address_wrap input	{margin-top:5px}
.layer_pop .fl_wrap .table_wrap table tbody tr td .address_wrap input:first-child	{margin:0}
.layer_pop .fl_wrap .table_wrap table tbody tr td .address_wrap .btn_address	{display:block; position:absolute; top:0; right:3px; width:90px; height:40px; background:url('/images/common/icon_activity.png') no-repeat 0 -120px;}
.layer_pop .fl_wrap .table_wrap table tbody tr td .box_info	{overflow-y:auto; padding:9px; width:337px; height:52px; border:1px solid #32343d; font-size:11px; line-height:17px; letter-spacing:-1px}
.layer_pop .fl_wrap .table_wrap table tbody tr td .chk	{display:block; margin-top:10px; font-size:11px; line-height:16px}
.layer_pop .fl_wrap .table_wrap table tbody tr td .chk input	{margin:0 5px 0 0; padding:0; height:auto; vertical-align:middle}
.layer_pop .fl_wrap .table_wrap table tbody tr td .chk label	{line-height:16px}
.layer_pop .fl_wrap .table_wrap table tbody tr td .sel_wrap	{font-size:0}

.layer_pop .btn_app	{display:inline-block; width:120px; height:45px; background:#32343d; color:#fdb813; font-size:16px; font-weight:bold; line-height:45px}
.layer_pop .btn_app:disabled	{background:#d09a0f}

.layer_pop .btn_wrap	{margin-top:40px}
.layer_pop .b_txt		{margin-top:13px; color:#6d6e71; font-size:11px; line-height:16px; text-align:center}

.layer_pop.busi	{min-width:800px; width:800px; top:47px; right:auto; left:50%; margin-left:-400px; background:none}
.layer_pop.busi .t_txt	{margin:0 85px}
.layer_pop.busi .btn_closed	{left:auto; right:0; margin:0; background:url('/images/common/layer_busi_closed.png') no-repeat 0 0}
.layer_pop.busi .btn_closed:hover	{background-position:0 -60px}

.layer_pop.busi .layer_content	{}
.layer_pop.busi .slide_wrap	{position:relative; padding:0 85px}
.layer_pop.busi .slide_wrap ul li	{}
.layer_pop.busi .slide_wrap ul li img	{width:100%}
.layer_pop.busi .slide_wrap .bx-controls-direction a	{display:block; overflow:hidden; position:absolute; top:50%; margin-top:-90px; width:54px; height:105px; background:url('/images/common/btn_layer_arr.png') no-repeat 0 0; text-indent:-9999px}
.layer_pop.busi .slide_wrap .bx-controls-direction a.bx-prev	{left:10px; background-position:0 0}
.layer_pop.busi .slide_wrap .bx-controls-direction a.bx-next	{right:10px; background-position:-54px 0}
.layer_pop.busi .slide_wrap .bx-controls-direction a.bx-prev:hover	{left:10px; background-position:0 -105px}
.layer_pop.busi .slide_wrap .bx-controls-direction a.bx-next:hover	{right:10px; background-position:-54px -105px}


/* 타이틀 레벨 */
.h1	{}
.h_tit	{}
.h_desc	{}

/* Tab */
.tab_wrap	{}
.tab_wrap ul	{overflow:hidden; height:1%; padding-top:2px}
.tab_wrap ul li	{position:relative; float:left;width:33.3%}
.tab_wrap ul li a	{display:block; border:1px solid #ccc; border-bottom:2px solid #004098; color:#333; font-size:16px; line-height:45px; text-align:center;}
.tab_wrap ul li.on	{z-index:10}
.tab_wrap ul li.on a	{margin-top:-2px; border:2px solid #004098; border-bottom:0; line-height:48px;}
.tab_wrap ul li.tab02 a	{margin-right:-1px; margin-left:-1px}

.tab_wrap ul li .tab_cont	{display:none; width:300%; margin-top:20px}
.tab_wrap ul li.on .tab_cont	{display:block}

.tab_wrap ul li.tab01 .tab_cont	{}
.tab_wrap ul li.tab02 .tab_cont	{margin-left:-100%}
.tab_wrap ul li.tab03 .tab_cont	{margin-left:-200%}

/* button */
button	{display:inline-block; padding:0; border:0; background:transparent; text-align:center; vertical-align:middle; cursor:pointer; white-space:nowrap}
button.dis,
button.dis	span	{cursor:default}
button.dis:hover	span	{background-position:0 0}
button.dis:hover	span	span	{background-position:right 0}

.btn_base	{display:inline-block; padding:0 10px; min-width:40px; background:#fdb813; color:#32343d; font-weight:bold; line-height:30px; text-align:center; vertical-align:middle}
.btn_base:hover	{color:#32343d;}
.btn_txt	{display:inline-block; padding:0 10px; font-size:14px; line-height:34px; color:#fff !important; background:#c1c1c1; vertical-align:middle}

.btn_down	{position:relative; padding-right:26px; font-size:16px; line-height:24px}
.btn_down:after	{content:""; display:block; position:absolute; top:50%;; right:0; width:18px; height:18px; margin-top:-9px; background:url('/images/common/icon_activity.png') no-repeat 0 0; background-position:0 -83px}

/* Button Align */
.btn_wrap	{margin-top:25px}
.btn_wrap.cen	{text-align:center}
.btn_wrap.right	{text-align:right}

/* bullet list */
.bul_list	{}
.bul_list li	{padding-left:10px; background:url('/images/common/bul_black_3_3.png') no-repeat 0 11px; color:#333;}
.bul_list li:first-child	{margin-top:0}

/* table */
table	{width:100%; border:0 none; border-collapse:collapse; border-spacing:0}
table	caption	{width:0; height:0; line-height:0px; visibility:hidden}
table	th,	table	td	{border:0 none}

.table_wrap	{margin-top:20px; border-top:2px solid #fdbc21;}
.table_wrap table	{}
.table_wrap table th,
.table_wrap table td	{font-size:13px; vertical-align:middle}
.table_wrap table thead tr th	{/* padding:13px 0 13px 10px; */ height:42px; line-height:20px; border-bottom:1px solid #b9babc; background-color:#f7faff; color:#404040; font-size:12px; text-align:left;}
.table_wrap table thead tr th.al_center	{/* padding:13px 0 13px 0; */ text-align:center}

.table_wrap table tbody tr th	{padding:10px 0 10px 15px; border-bottom:1px solid #d5d6d7; background:#f3f3f4; color:#333; font-size:12px; line-height:18px; font-weight:bold; text-align:left; vertical-align:middle}
.table_wrap table tbody tr th.al_center	{padding:15px 0 15px 0; text-align:center}
.table_wrap table tbody tr td	{padding:10px 10px; border-bottom:1px solid #d5d6d7; color:#333; font-size:12px; line-height:18px; text-align:left}
.table_wrap table tbody tr td a	{display:block; color:#333}
.table_wrap table tbody tr td.al_center	{padding:10px 0 10px 0; text-align:center}
.table_wrap table tbody tr td button	{margin:0 0 0 0}
.table_wrap table tbody tr td img	{vertical-align:middle}
.table_wrap table tbody tr td .secret	{color:#999}
.table_wrap table tbody tr td .i_txt	{display:block; color:#808080; font-size:12px;}
.table_wrap table tbody tr td.num	{line-height:40px}
.table_wrap table tbody tr td.nodata	{color:#999; font-size:14px; padding:52px 0}
.table_wrap table tbody tr td.line	{border-left:1px solid #e1e1e1;}
.table_wrap table tbody tr td p.applet_txt	{margin:15px 0 0}

.table_wrap table tfoot tr th	{padding:9px 10px 8px 10px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; background-color:#f8f9f9; color:#333; font-size:14px; font-weight:normal; text-align:center;}
.table_wrap table tfoot tr th:first-child	{border-left:0}
.table_wrap table tfoot tr td	{padding:9px 14px 8px 14px; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; color:#333; text-align:center}

.table_wrap table tbody tr td .icon_wrap	{/* margin-top:15px;*/font-size:0; line-height:0}
.table_wrap table tbody tr td .icon_wrap img	{width:34px; height:28px; margin:10px 15px 0 0}

.table_wrap.detail	{padding-bottom:7px; border:0; border-bottom:1px solid #dddedf}
.table_wrap.detail table thead tr th		{padding:12px 0; height:16px; background:#32343d; color:#fff; font-weight:bold; line-height:16px; text-align:center}
.table_wrap.detail table tbody tr th		{padding:7px 0 7px 5px; border:0; background:none}
.table_wrap.detail table tbody tr th .imp	{display:inline-block; margin-left:3px; color:#ff0000; line-height:17px; vertical-align:top}
.table_wrap.detail table tbody tr td	{padding:7px 0 7px 10px; border:0; text-align:left}
.table_wrap.detail table tbody tr td .mail_wrap	{font-size:0}
.table_wrap.detail table tbody tr td .mail_wrap .fmr	{display:inline-block; margin:0 4px; font-size:12px; line-height:35px; vertical-align:top;}
.table_wrap.detail table tbody tr td .select	{height:33px; border:1px solid #e7e7e8; background: url('/images/common/bg_select.gif') no-repeat right center; vertical-align:top}
.table_wrap.detail table tbody tr td .select label		{line-height:33px}
.table_wrap.detail table tbody tr td .select select	{height:33px; line-height:33px}
.table_wrap.detail table tbody tr td .form_wrap	{line-height:0; font-size:0}

/* 페이징 */
.pager_wrap	{position:relative; margin:35px auto 0 auto; font-size:0; line-height:0; text-align:center}
.pager_wrap a	{display:inline-block; width:25px; height:25px; background:#fff; vertical-align:top}
.pager_wrap a:hover	{text-decoration:none}

.pager_wrap a.btn_page	{}
.pager_wrap a.btn_page.prev	{margin:0 2px 0 0; background:url('/images/common/bg_page_prev.gif') no-repeat 0 0}
.pager_wrap a.btn_page.next	{margin:0 0 0 2px; background:url('/images/common/bg_page_next.gif') no-repeat 0 0}

.pager_wrap .page	{display:inline-block; line-height:25px; text-align:center; vertical-align:top}
.pager_wrap .page a	{width:23px; height:23px; margin-left:2px; border:1px solid #e4e4e5; color:#40424a; font-size:12px; line-height:23px}
.pager_wrap .page a:first-child	{margin-left:0}
.pager_wrap .page a.on	{border:1px solid #fdb913; background:#fdb913; color:#fff; font-weight:bold; text-decoration:none}


/* 테이블 기타 */
.bul	{display:inline-block; width:6px; height:6px; border:1px solid #000; border-radius:4px}
.bul.black		{background:#000}
.bul.red		{border:1px solid #ff0000; background:#ff0000}
.bul.yellow	{border:1px solid #fdb913; background:#fdb913}

.b_file	{display:inline-block; position:relative; width:100%; height:35px; font-size:0; vertical-align:top; box-sizing:border-box; -moz-box-sizing:border-box;}
.b_file .btn_file	{display:block; position:absolute; z-index:10; top:0; left:0; width:70px; border:1px solid #939393; font-size:12px; font-weight:bold; text-align:center; line-height:33px; border-radius:10px; vertical-align:top}
.b_file .txt	{display:block; overflow:hidden; position:absolute; right:0; left:0; padding:0 0 0 80px; width:100%; height:35px; font-size:12px; font-style:normal; line-height:35px; box-sizing:border-box; -moz-box-sizing:border-box;}
.b_file .txt span	{display:inline-block; overflow:hidden; position:relative; padding-right:20px; max-width:100%; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box; -moz-box-sizing:border-box;}
.b_file .txt button	{display:inline-block; position:absolute; top:50%; right:0; margin-top:-7px; width:15px; height:15px; background:url('/images/common/bg_img_del.png') no-repeat -1px 0;}
.b_file img	{position:absolute; top:0; right:0; cursor:pointer}
.b_file input	{display:none}

/* form 테이블 */
.table_wrap.form	{padding-top:14px}
.table_wrap.form table th,
.table_wrap.form table td	{}
.table_wrap.form table tbody tr th	{padding:13px 0 13px 0; border:0; background:none; text-align:left; line-height:24px; vertical-align:top}
.table_wrap.form table tbody tr td	{padding:5px 0 5px 0; border:0; line-height:40px; text-align:left}
.f_txt	{display:inline-block; margin:0 6px 0 0; line-height:40px; vertical-align:middle }


.bot_info	{margin-top:8px}
.bot_info li	{position:relative; padding-left:13px; color:#a6a6a6; font-size:13px; line-height:25px;}
.bot_info li span	{display:block; position:absolute; top:1px; left:3px; line-height:25px}

/* Size */ 
.w100			{display:block; line-height:0}
.w100 img	{width:100%}











@media screen and (max-width:818px){
	/* Layout */
	#wrap	{min-width:320px; border-top:0}
	#wrap #header .top_util	{display:none}
	#wrap #container .lnb	{display:none !important}
	#wrap #container	{margin-top:15px; min-width:320px}
	#wrap #container .content	{width:100%; padding:0 20px; box-sizing:border-box; -moz-box-sizing:border-box;}

	#wrap #header .util_menu	{border:0}
	#wrap #header .util_menu .menu_wrap	{height:57px}
	#wrap #header .util_menu .menu_wrap h1	{top:16px; left:19px;}
	#wrap #header .util_menu .menu_wrap h1 a	{width:174px; height:24px; background:url('/images/common/logo_m.png') no-repeat 0 0; background-size:174px 24px}
	#wrap #header .util_menu .menu_wrap .util_list	{display:none}
	
	#wrap .naver_talk {right:-45px; bottom:5px;}
	#wrap .naver_talk img {width:50%;}
	
	/* Nav */
	#wrap #header .util_menu .menu_wrap .btn_menu	{display:block; position:absolute; top:0; right:0; width:57px; height:57px; background:url('/images/common/icon_activity_m.png') no-repeat 0 0; background-size:500px 500px}
	#wrap #header .util_menu .menu_wrap .menu_list	{display:block; overflow-y:auto; position:fixed; z-index:100; top:0; right:0; bottom:0; left:0; background:#fff; text-align:left; -webkit-transition:all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1); -moz-transition:all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1); -o-transition:all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1); -ms-transition:all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1); transition:all 0.2s cubic-bezier(0.685, 0.0473, 0.346, 1); -webkit-overflow-scrolling:touch;}
	#wrap #header .util_menu .menu_wrap .menu_list .btn_closed	{display:block; position:absolute; z-index:10; top:0; right:0; width:57px; height:57px; background:url('/images/common/icon_activity_m.png') no-repeat 0 0; background-size:500px 500px; background-position:-57px 0}

	#wrap #header .util_menu .menu_wrap .menu_list .list_top	{height:57px; background-color:#4f4c4d}
	#wrap #header .util_menu .menu_wrap .menu_list .list_top .t_info	{position:relative; padding-left:60px; color:#fff; line-height:57px; text-align:left;}
	#wrap #header .util_menu .menu_wrap .menu_list .list_top .t_info:after	{content:""; display:block; position:absolute; top:50%; left:19px; margin-top:-12px; width:28px; height:24px; background:url('/images/common/icon_activity_m.png') no-repeat 0 0; background-size:500px 500px; background-position:-114px 0}
	#wrap #header .util_menu .menu_wrap .menu_list .list_top .t_info span	{color:#fdb813}

	#wrap #header .util_menu .menu_wrap .menu_list .search_wrap	{position:relative; padding:10px 10px; height:57px; background:#f3f3f4; box-sizing:border-box; -moz-box-sizing:border-box;}
	#wrap #header .util_menu .menu_wrap .menu_list .search_wrap input	{width:100%; padding:6px 10px 6px 40px; height:37px; border:0; background:#fff url('/images/common/icon_search_m.png') no-repeat 9px 9px; background-size:21px 20px; border-radius:5px; box-sizing:border-box; -moz-box-sizing:border-box;}
	#wrap #header .util_menu .menu_wrap .menu_list .search_wrap .btn_search	{display:none; position:absolute; top:10px; right:10px; width:47px; height:37px; background-color:#fdb813; font-weight:bold; line-height:37px; border-radius:0 5px 5px 0;}

	#wrap #header .util_menu .menu_wrap .menu_list .search_wrap.on input	{padding:6px 50px 6px 40px; background:#fff url('/images/common/icon_search_ov_m.png') no-repeat 9px 9px; background-size:21px 20px;}
	#wrap #header .util_menu .menu_wrap .menu_list .search_wrap.on .btn_search	{display:block}

	#wrap #header .util_menu .menu_wrap .menu_list .util_list	{display:block; padding:0; height:auto; border-top:1px solid #bcbdc0; border-bottom:1px solid #bcbdc0}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li	{position:relative; width:25%; height:84px; border-left:1px solid #bcbdc0; box-sizing:border-box; -moz-box-sizing:border-box;}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li:first-child	{border-left:0}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li a	{display:block; padding:13px 0 0 0; height:71px; background:none; border:0; color:#4d4d4e;}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li a span	{display:block; margin:0 auto; padding:40px 0 0 0; width:60px; height:20px; border:0; background:url('/images/common/icon_activity_m.png') no-repeat -150px 0; background-size:500px 500px; line-height:20px; font-weight:bold; text-align:center}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li.u01 a span	{background-position:-150px 0}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li.u02 a span	{background-position:-210px 0}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li.u03 a span	{background-position:-270px 0}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li.u04 a span	{background-position:-330px 0}
	#wrap #header .util_menu .menu_wrap .menu_list .util_list li.u05 a span	{background-position:-390px 0}

	#wrap #header .util_menu .menu_wrap .menu_list .menu	{}
	#wrap #header .util_menu .menu_wrap .menu_list .menu:after	{content:""; display:block; clear:both}
	#wrap #header .util_menu .menu_wrap .menu_list .menu li		{float:left; width:50%}
	#wrap #header .util_menu .menu_wrap .menu_list .menu li a	{display:block; padding-left:20px; background:#32343d; color:#fff; font-weight:bold; line-height:38px; text-align:left; box-sizing:border-box; -moz-box-sizing:border-box;}
	#wrap #header .util_menu .menu_wrap .menu_list .menu li ul li		{width:100%}
	#wrap #header .util_menu .menu_wrap .menu_list .menu li ul li a	{background:#fff; border-bottom:1px solid #bcbdc0; color:#32343d; font-weight:normal; line-height:38px;}

	#wrap #header .util_menu .menu_wrap .menu_list .menu li:nth-child(2n+1) ul li a	{border-right:1px solid #bcbdc0;}
	#wrap #header .util_menu .menu_wrap .menu_list .menu li:nth-child(2n) ul li a	{margin-left:-1px; border-left:1px solid #bcbdc0;}

	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:nth-child(1),
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:nth-child(2)	{height:310px}
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:nth-child(3),
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:nth-child(4)	{height:232px}
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:last-child		{width:100%}
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:last-child	 ul li	{float:left; width:50%}
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:last-child	 ul li a	{border-bottom:1px solid #bcbdc0;}
	#wrap #header .util_menu .menu_wrap .menu_list .menu > li:last-child	 ul li:nth-child(2n) a	{border-right:0}

	#wrap #header .util_menu .menu_wrap .menu_list .menu_foot	{padding:17px 0 38px 0; background:#32343d; color:#fff}
	#wrap #header .util_menu .menu_wrap .menu_list .menu_foot .tel	{margin:9px auto 0 auto; width:284px; border:1px solid #fff; text-align:center; border-radius:5px; line-height:36px;}
	#wrap #header .util_menu .menu_wrap .menu_list .menu_foot .tel a	{display:block; color:#fff}
	#wrap #header .util_menu .menu_wrap .menu_list .menu_foot .logo	{margin:22px auto 0 auto; width:105px; height:15px; background:url('/images/common/logo_footer_m.png') no-repeat 0 0; background-size:105px 15px}
	#wrap #header .util_menu .menu_wrap .menu_list .menu_foot .copy	{margin-top:8px; color:#bcbdc0; font-size:11px; line-height:15px; text-align:center}


	/* Nav motion */
	#wrap #header .util_menu .menu_wrap .menu_list	{-webkit-transform:translate3d(100%, 0, 0); -moz-transform:translate3d(100%, 0, 0); -o-transform:translate3d(100%, 0, 0); -ms-transform:translate3d(100%, 0, 0); transform:translate3d(100%, 0, 0);}
	#wrap #header .util_menu .menu_wrap .menu_list.open	{-webkit-transform:translate3d(0%, 0, 0); -moz-transform:translate3d(0%, 0, 0); -o-transform:translate3d(0%, 0, 0); -ms-transform:translate3d(0%, 0, 0); transform:translate3d(0%, 0, 0);}

	/* Gnb */
	#wrap #header nav .nav_wrap ul li	{}
	#wrap #header nav .nav_wrap ul li a	{font-size:13px; line-height:44px}
	#wrap #header nav .nav_wrap ul li ul	{display:none}
	#wrap #header nav .nav_bg	{display:none}

	/* Footer */
	#wrap #footer	{padding:27px 20px; box-sizing:border-box; -moz-box-sizing:border-box;}
	#wrap #footer .foot_wrap	{}
	#wrap #footer .foot_wrap .foot_logo	{position:static; width:105px; height:15px; background:url('/images/common/logo_footer_m.png') no-repeat 0 0; background-size:105px 15px}
	#wrap #footer .foot_wrap .foot_util		{margin-top:14px; padding:0}
	#wrap #footer .foot_wrap .foot_util ul li	{padding:0 7px}
	#wrap #footer .foot_wrap .foot_util ul	li:after	{top:5px; height:9px}
	#wrap #footer .foot_wrap .foot_util ul li:last-child	{display:none}
	#wrap #footer .foot_wrap .foot_util ul li a	{font-size:11px; font-weight:bold; line-height:16px}

	#wrap #footer .foot_wrap .foot_info	{padding:0}
	#wrap #footer .foot_wrap .foot_info p	{margin-top:5px; letter-spacing:-1px}
	#wrap #footer .foot_wrap .foot_info p span	{display:block}
	#wrap #footer .foot_wrap .foot_info p br	{display:none}
	#wrap #footer .foot_wrap .foot_info .copy	{margin-top:10px; letter-spacing:0;}


	/* 컨텐츠 공통 */
	.top_area	{padding-bottom:20px}
	.top_area h2.t_tit	{line-height:30px}
	.cont_info	{margin-top:20px; margin-bottom:20px}

	.pc		{display:none !important;}
	.mo	{display:block !important;}


	/* Table detail */
	.table_wrap.detail	{}
	.table_wrap.detail .t01	{width:80px !important}
	.table_wrap.detail table thead tr th	{}
	.table_wrap.detail table tbody tr td	{}
	.table_wrap.detail table tbody tr th	{padding:14px 0 0 5px; vertical-align:top}
	.table_wrap.detail table tbody tr td input	{width:100% !important; height:35px; box-sizing:border-box; -moz-box-sizing:border-box;}
	.table_wrap.detail table tbody tr td textarea	{width:100% !important; box-sizing:border-box; -moz-box-sizing:border-box;}
	.table_wrap.detail table tbody tr td .select	{width:100% !important; box-sizing:border-box; -moz-box-sizing:border-box;}
	.table_wrap.detail table tbody tr td .mail_wrap	{}
	.table_wrap.detail table tbody tr td .mail_wrap input	{width:47% !important}
	.table_wrap.detail table tbody tr td .mail_wrap .fmr		{margin:0; width:6% !important; text-align:center}
	.table_wrap.detail table tbody tr td .mail_wrap .select	{width:57% !important}

	.table_wrap.detail table tbody tr td .form_wrap	{line-height:0; font-size:0}
	.table_wrap.detail table tbody tr td .form_wrap .select	{width:47% !important}
	.table_wrap.detail table tbody tr td .form_wrap .select:first-child	{margin-right:6% !important}

	.b_file	{box-sizing:border-box; -moz-box-sizing:border-box;}

	/* 페이징 */


}











@media screen and (max-width:320px){
	
}
