
@charset "utf-8"; 

/* 홍보센터 */
/* 홍보센터 리스트 공통 */
.prom_list	{margin-top:15px}
.prom_list ul	{margin-left:-30px}
.prom_list ul:after	{content:""; display:block; clear:both}
.prom_list ul li	{overflow:hidden; float:left; margin-left:30px; margin-bottom:20px; width:215px; height:200px}
.prom_list ul li a	{display:block; color:#333}
.prom_list ul li a:hover	{text-decoration:none}
.prom_list ul li a span	{display:block;}
.prom_list ul li a .img	{border:1px solid #bcbdc0; line-height:0;}
.prom_list ul li a:hover .img	{border:1px solid #fdb813}
.prom_list ul li a .img img	{width:213px; height:139px}
.prom_list ul li a .tit	{margin-top:8px; font-weight:bold; line-height:16px; text-align:left}
.prom_list ul li a .t_info	{margin-top:2px; line-height:16px; text-align:left; letter-spacing:-1px;}

/* 광고홍보 */
.prom_list.ad	{}
.prom_list.ad ul	{margin-left:-30px}
.prom_list.ad ul li	{margin-left:30px; width:215px; height:350px}
.prom_list.ad ul li a .img img	{width:213px; height:279px}
.prom_list.ad ul li a .tit	{text-align:left}
.prom_list.ad ul li a .t_info	{text-align:left}

/* 테이블 상세 */
.table_wrap table tbody tr td .detail_wrap	{margin:10px -10px 20px -10px; text-align:center}
.table_wrap table tbody tr td .detail_wrap .img	{display:block; margin-top:10px; line-height:0}
.table_wrap table tbody tr td .detail_wrap .img img	{max-width:100%}
.table_wrap table tbody tr td .detail_wrap p	{margin-top:15px; text-align:left}
.table_wrap table tbody tr td .detail_wrap	 .btn_go	{display:inline-block; margin-top:15px; padding:0 15px; border:1px solid #bcbdc0; font-size:14px; line-height:35px; text-align:center;}







@media screen and (max-width:818px){
	/* 홍보센터 */
	/* 홍보센터 리스트 공통 */
	.prom_list	{margin-top:30px}
	.prom_list ul	{margin-left:0}
	.prom_list ul li	{margin-left:0; margin-bottom:20px; width:100%; height:auto}
	.prom_list ul li a .img img	{width:100%; height:auto}

	/* 광고홍보 */
	.prom_list.ad	{}
	.prom_list.ad ul	{margin-left:0}
	.prom_list.ad ul li	{margin-left:0; width:47.5%; height:auto}
	.prom_list.ad ul li:nth-child(2n)	{margin-left:5%}
	.prom_list.ad ul li a .img img	{width:100%; height:auto}

	/* 테이블 상세 */
	.table_wrap table tbody tr td .detail_wrap .img img	{width:100%}
	.table_wrap table tbody tr td .detail_wrap	 .btn_go	{margin-top:25px;}

}
